/* Browser/Display fixes*/

@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');


html,
body {
    margin: 0;
    background-image: url(../images/Flower-Background.png);
    background-size: cover;
}

/* Box sizing fix taken from - https://css-tricks.com/almanac/properties/b/box-sizing/ */

*, *::before, *::after {
    box-sizing: border-box;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child,
ol:first-child,
ul:first-child {
    margin-top: 0;
} 

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ol:last-child,
ul:last-child {
    margin-bottom: 0;
} 

body {
    background-color: rgb(93, 107, 94);
}

.top {
    max-width: 270px;
  height: auto;
  position: sticky;
  top: 0;
  float: right;
}


h1 {
    font-family: "Jacquarda Bastarda 9", serif;
    color: white;
    text-align: center;
    /* font-size: 200px; */
    font-weight: 400;
    font-style: normal;
    padding: 300px 0;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    flex-wrap: wrap;
    padding-bottom: 400px;
    font-size: min(15vw, 200px);

}

h2 {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: 64px; */
    text-align: center;
    flex-wrap: wrap;
    font-size: min(7vw, 64px);
    text-decoration: underline;
}

#new {
    background-image: url(../images/papertexture.jpeg);
    background-color: rgb(249, 247, 220);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.wolf {
    /* max-width: 900px; */
    height: auto;
    display: block;
  margin: auto;
  width: 40%;
}

.wolf:hover {
    height: auto;
    width: 41%;
    transition: all 300ms ease-out;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  h3 {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: 64px; */
    text-align: left;
    flex-wrap: wrap;
    font-size: min(7vw, 64px);
    text-decoration: underline;
  }

  #trad {
    background-image: url(../images/papertexture.jpeg);
    background-color: rgb(249, 247, 220);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
}

h4 {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: 64px; */
  text-align: left;
  flex-wrap: wrap;
  font-size: min(7vw, 64px);
  text-decoration: underline;
}

#dig {
  background-image: url(../images/papertexture.jpeg);
  background-color: rgb(249, 247, 220);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 250px;
  margin-right: 250px;
}

h5 {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: 64px; */
  text-align: left;
  flex-wrap: wrap;
  font-size: min(7vw, 64px);
  text-decoration: underline;
}

#char {
  background-image: url(../images/papertexture.jpeg);
  background-color: rgb(249, 247, 220);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 250px;
  margin-right: 250px;
}

h6 {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: 64px; */
  text-align: left;
  flex-wrap: wrap;
  font-size: min(7vw, 64px);
  text-decoration: underline;
}

#phys {
  background-image: url(../images/papertexture.jpeg);
  background-color: rgb(249, 247, 220);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 250px;
  margin-right: 250px;
}

.item {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.thumb {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.food {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.one {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.kitchen {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.wolf {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.dog {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.red {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.pizza {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.apple {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.death {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.del {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.echo {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.life {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.mouse {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.oc {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.re {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.spot {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

.hold {
  /* max-width: 900px; */
  height: auto;
  display: block;
margin: auto;
width: 40%;
}

#phys {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}

.bee {
  height:auto;
  width: 40%;
  align-content: center;
}